{% extends "base.html" %}

{% block title %} Contact {% endblock %}
{% block content %}
<div class="container">
<center><h3>Contato</h3></center>
	<p><a href="http://www.tempo.uff.br">Laboratório Tempo</a></p>
	<p>Instituto de Computação</p>
	<p>Universidade Federal Fluminense</p>
	<p>Rua Passo da Pátria, 156 - bloco E - sala 350</p>
	<p>Niterói - RJ - Brazil</p>
	<p>CEP: 24210-240</p>
	<p>Tel.: +55 21 2629-5628/29/84/85</p>
	<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.br/maps?q=-22.904779,-43.131048&amp;num=1&amp;t=h&amp;ie=UTF8&amp;ll=-22.904794,-43.130994&amp;spn=0.001764,0.002709&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com.br/maps?q=-22.904779,-43.131048&amp;num=1&amp;t=h&amp;ie=UTF8&amp;ll=-22.904794,-43.130994&amp;spn=0.001764,0.002709&amp;z=14&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
	</div>
{% endblock %}