{% extends "base.html" %} {% load bootstrap_toolkit %} 
{% block title %}
Dynamic View Form {% endblock %}
 {% block extrahead %}
<!-- Auto refresh code -->
<meta http-equiv="refresh" content="300">
{% endblock %} 
{% block extra_head %} 
<link rel="stylesheet" type="text/css" media="screen"
	href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
{% endblock %} 
{% block content %}
<center>
	<h3>Dynamic View Form</h3>
</center>
<div class="container">
	<form action="" method="post">
	{% csrf_token %}
		<div class="control-group required">
			<label class="control-label" for="id_listIds">List of IDs</label>
			<div class="controls">
				<input id="id_listIds" type="text" name="listIds" maxlength="50">
				<span class="help-inline">Motes separated by spaces.</span>
			</div>
		</div>
		<div class="control-group required">
			<label class="control-label" for="id_view_types">Views</label>
			<div class="controls">
				<select name="view_types" id="id_view_types">
					<option value="Temperature">temperature</option>
					<option value="Light">light</option>
					<option value="Battery">battery</option>
				</select> <span class="help-inline">Select one view</span>
			</div>
		</div>
		<div class="control-group required">
			<label class="control-label" for="id_startDate">Initial period</label>
			<div class="controls">
				<div id="datetimepicker1" class="input-append">
					<input data-format="MM/dd/yyyy hh:mm:ss" name="startDate" type="text" id="id_startDate">
					<span class="add-on"> <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
					</span>
				</div>
			</div>
		</div>
		<div class="control-group required">
			<label class="control-label" for="id_finalDate">Final period</label>
			<div class="controls">
				<div id="datetimepicker2" class="input-append">
					<input data-format="MM/dd/yyyy hh:mm:ss" name="finalDate" type="text" id="id_finalDate">
					<span class="add-on"> <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
					</span>
				</div>
			</div>
		</div>
		<button type="submit" class="btn btn">Generate</button>
	</form>
</div>
    <script type="text/javascript"
     src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
    </script>
    <script type="text/javascript">
      $('#datetimepicker1').datetimepicker({
        language: 'en'
      });
    </script>
    <script type="text/javascript">
      $('#datetimepicker2').datetimepicker({
        language: 'en'
      });
    </script>
{% endblock %}
