{% extends "base.html" %} {% load bootstrap_toolkit %} {% block title %}
Network Graph {% endblock %} {% block extrahead %}
<!-- Auto refresh code -->
<meta http-equiv="refresh" content="300">
<style>
.node {
	cursor: pointer;
}

.node circle {
	fill: #fff;
	stroke: black;
	stroke-width: 1px;
}

.node text {
	font: 12px sans-serif;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5px;
}
</style>
<script src="http://d3js.org/d3.v3.min.js"></script>

{% endblock %} {% block content %}
<center>
	<h3>Network Graph</h3>
	<p>
		<font color="green">Green node: Active</font> | <font color="27A0D8">Blue
			node: Base Station</font> | <font color="red">Red node: Inactive</font>
	</p>
		<p>Click on a node to collapse or expand their children.</p>
	
	<div id="chart"></div>
	<p>
		<font color="blue">The label at side of node is the ETX for
			Root.</font>
	</p>
</center>

{% endblock %} {% block script %}
<script type="text/javascript">
	var margin = {
		top : 20,
		right : 120,
		bottom : 20,
		left : 120
	}, width = 960 - margin.right - margin.left, height = 800 - margin.top
			- margin.bottom;

	var i = 0, duration = 250, root;

	var tree = d3.layout.tree().size([ height, width ]);

	var diagonal = d3.svg.diagonal().projection(function(d) {
		return [ d.x, d.y ];
	});

	var svg = d3.select("#chart").append("svg").attr("width",
			width + margin.right + margin.left).attr("height",
			height + margin.top + margin.bottom).append("g").attr("transform",
			"translate(" + margin.left + "," + margin.top + ")");

	d3.json("/media/networkgraph/force.json", function(flare) {
		root = flare;
		root.x0 = width / 2;
		root.y0 = 0;

		function collapse(d) {
			if (d.children) {
				d._children = d.children;
				d._children.forEach(collapse);
				d.children = null;
			}
		}
		update(root);
	});

	d3.select(self.frameElement).style("height", "400px");

	function update(source) {

		// Compute the new tree layout.
		var nodes = tree.nodes(root).reverse(), links = tree.links(nodes);

		// Normalize for fixed-depth.
		nodes.forEach(function(d) {
			d.y = d.depth * 180;
		});

		// Update the nodes…
		var node = svg.selectAll("g.node").data(nodes, function(d) {
			return d.id || (d.id = ++i);
		});

		// Enter any new nodes at the parent's previous position.
		var nodeEnter = node.enter().append("g").attr("class", "node").attr(
				"transform", function(d) {
					return "translate(" + source.x0 + "," + source.y0 + ")";
				}).on("click", click);

		nodeEnter.append("circle").attr("r", 1e-6).style("fill", function(d) {
			return d.color;
		});

		nodeEnter.append("svg:a").attr("xlink:href", function(d) {
			return d.url;
		}).append("svg:text").attr("class", "label").attr("fill", "white")
				.attr("text-anchor", "middle").text((function(d) {
					return d.name;
				}));

		node.append("svg:title").text(function(d) {
			return d.detail;
		});

		node.append("text").attr("dx", 5).attr("dy", "2em").attr("fill",
				"blue").text(function(d) {
			return d.cost
		});

		// Transition nodes to their new position.
		var nodeUpdate = node.transition().duration(duration).attr("transform",
				function(d) {
					return "translate(" + d.x + "," + d.y + ")";
				});

		nodeUpdate.select("circle").attr("r", 15).style("fill", function(d) {
			return d.color;
		});

		nodeUpdate.select("text").style("fill-opacity", 1);

		// Transition exiting nodes to the parent's new position.
		var nodeExit = node.exit().transition().duration(duration).attr(
				"transform", function(d) {
					return "translate(" + source.x + "," + source.y + ")";
				}).remove();

		nodeExit.select("circle").attr("r", 1e-6);

		nodeExit.select("text").style("fill-opacity", 1e-6);

		// Update the links…
		var link = svg.selectAll("path.link").data(links, function(d) {
			return d.target.id;
		});

		// Enter any new links at the parent's previous position.
		link.enter().insert("path", "g").attr("class", "link").attr("d",
				function(d) {
					var o = {
						x : source.x0,
						y : source.y0
					};
					return diagonal({
						source : o,
						target : o
					});
				});

		// Transition links to their new position.
		link.transition().duration(duration).attr("d", diagonal);

		// Transition exiting nodes to the parent's new position.
		link.exit().transition().duration(duration).attr("d", function(d) {
			var o = {
				x : source.x,
				y : source.y
			};
			return diagonal({
				source : o,
				target : o
			});
		}).remove();

		// Stash the old positions for transition.
		nodes.forEach(function(d) {
			d.x0 = d.x;
			d.y0 = d.y;
		}).append("text").attr("class", "linklabel").attr("dx", 1).attr("dy",
				".35em").attr("text-anchor", "middle").text(function(d) {
			return "my label"
		});
	}

	//Toggle children on click.
	function click(d) {
		if (d.children) {
			d._children = d.children;
			d.children = null;
		} else {
			d.children = d._children;
			d._children = null;
		}
		update(d);
	}
</script>
{% endblock %}
